<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/links :: links"></head>
<body>
<!--<img th:src="${img}"/>-->
<div class="header" th:insert="/fragments/header :: head"></div>
<div class="container">
    <div class="details-wrapper">
        <div class="edit-button-wrap">
            <a class="edit-button-btn btn btn-primary rounded-button" th:href="@{/edit-product(id=${product.id})}">Edit</a>
        </div>
        <div class="details-wrapper-inner">
            <div class="row">
                <div class="col-md-6">
                    <div class="category-info">
                        <span class="span-category">Id:</span>
                        <span class="category-value" th:text="${product.id}"></span>
                    </div>
                    <div class="category-info">
                        <span class="span-category">Name:</span>
                        <span class="category-value" th:text="${product.name}"></span>
                    </div>
                    <div class="category-info">
                        <span class="span-category">Category:</span>
                        <span class="category-value" th:text="${product.category.name}"></span>
                    </div>
                    <div class="category-info">
                        <span class="span-category">Price:</span>
                        <span class="category-value" th:text="|$${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}|"></span>
                    </div>
                    <div class="category-info">
                        <span class="span-category">Quantity:</span>
                        <span class="category-value" th:text="${product.quantity}"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="span-description">Description:</div>
                    <p class="category-desc" th:text="${product.description}"></p>
                </div>
            </div>

            <div class="purchase-wrapper">
                <form th:action="@{/buy-product(id=${product.id})}" th:object="${quantity}" th:if="${product.quantity > 0}" method="post">
                    <div class="form-buy-wrapper">
                        <div class="quantity-wrap">
                            <span class="quantity">Qty:</span>
                            <input type="number" class="qty-input" id="quantity" name="quantity" th:max="${product.quantity}" value="1">
                        </div>
                        <input type="submit" class="btn btn-primary rounded-button" value="Buy">
                    </div>

                </form>
                <span th:if="${product.quantity == 0}" class="out-of-stock">Out of stock</span>

            </div>
        </div>
    </div>
</div>
<footer th:insert="/fragments/footer :: footer"></footer>
</body>
</html>