<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="head">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/white-logo.png}" th:alt="Logo" style="width: 100px">
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/categories}" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/add-product}"class="nav-link">Add Product</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/add-category}"class="nav-link">Add Category</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="#" class="nav-link" sec:authentication="name"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="nav-link">Log out</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="nav-link">Log in</a>
            </li>
        </ul>
    </div>
</nav>

</html>