<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/links :: links"></head>
<body>
<!--<img th:src="${img}"/>-->
<div class="header" th:insert="/fragments/header :: head"></div>
<div class="container">
    <div class="details-wrapper">
        <div class="edit-button-wrap">
            <a class="edit-button-btn btn btn-primary rounded-button" th:href="@{/edit-category(id=${category.id})}">Edit</a>
        </div>
        <div class="details-wrapper-inner">
            <div class="row">
                <div class="col-md-6">
                    <div class="category-info">
                        <span class="span-category">Id:</span>
                        <span class="category-value" th:text="${category.id}"></span>
                    </div>
                    <div class="category-info">
                        <span class="span-category">Name:</span>
                        <span class="category-value" th:text="${category.name}"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="span-description">Description:</div>
                    <p class="category-desc" th:text="${category.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="/fragments/footer :: footer"></footer>
</body>
</html>